* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: #0f172a;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 100%;
  max-width: 1200px;
}
.main-header {
  margin-bottom: 30px;
}
.subtitle {
  font-size: 14px;
  color: #64748b;
  margin-top: 4px;
  margin-left: 42px;
}
.app-container {
  display: flex;
  gap: 25px;
}
#formSubtitle {
  font-size: 12px;
  color: #0f172a;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 16px;
}
label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #0f172a;
}
input,
select {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background: #fafafa;
  transition: all 0.2s;
}
input:focus,
select:focus {
  background: local;
  border-color: #818cf8;
}

button {
  width: 100%;
  padding: 11px 18px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button[type="submit"] {
  background: #4fa6e5;
  color: white;
}
button[type="submit"]:hover {
  background: skyblue;
}
.btn-secondary {
  background: #64748b;
  color: #64748b;
  border: 1px solid #e2e8fe;
}
.main-dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}
.stat-card {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#searchInput {
  flex-grow: 1;
  background: white;
}
.library-container {
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 20px;
}
.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 10px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 15px;
}

.btnclass {
  width: 28px;
  height: 28px;
  padding: 0;
  background: #f8fafc;
  border: 1px solid black;
  border-radius: 4px;
  color: #818cf8;
}
.btnclass1 {
  width: 28px;
  height: 28px;
  padding: 0;
  background: #f8fafc;
  border: 1px solid black;
  border-radius: 4px;
  color: #818cf8;
}
